/*
@ 开发者
@ 时间
*/ 
@keyframes circleAnimal {
    0% {
       
       transform: rotateZ(0deg);
    }
    100% {
       
        transform: rotateZ(360deg);
    }
}

@keyframes scaleAnimal {
    0% {
       
       transform: scale(0.95);
    }
    100% {
       
        transform: scale(1.0);
    }
}
@keyframes _fadeInRight_ {
    0% {
        opacity: 0;
        right: -700px 
    }

    to {
        opacity: 1;
        right: -3rem; 
    }
}
@keyframes _scale {
    0% {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}
._animation_left_in
{
    animation: lightSpeedInLeft!important;
    animation-duration: 0.5s !important;
    // animation-timing-function:linear!important;
}

._animation_down_in
{
    animation:fadeInUp!important;
    animation-duration: 0.2s !important;
}
._animation_left_in_news
{
    animation: fadeInLeft!important;
    animation-duration: 0.5s !important;
}
._animation_right_in
{
    animation:bounceInRight!important;
    animation-duration: 0.5s !important;
}
._animation_fade_in
{
    animation: fadeIn!important;
    animation-duration: 0.5s !important;
}
._animation_fadeInDown
{
    animation: fadeInDown!important;
    animation-duration: 0.5s !important;
}

._animation_fadeInDown
{
    animation: fadeInDown!important;
    animation-duration: 0.5s !important;
}
._animation_fadeInLeft
{
    animation: fadeInLeft!important;
    animation-duration: 0.5s !important;
}
._animation_fadeInRight
{
    animation: fadeInRight!important;
    animation-duration: 0.5s !important;
}
._animation_fadeInUp
{
    animation: fadeInUp!important;
    animation-duration: 0.5s !important;
}

._animation_tip_show
{
    animation: bounceInDown!important;
    animation-duration: 0.5s !important;
}
._animation_tip_hide
{
    animation: bounceOutUp!important;
    animation-duration: 0.5s !important;
}
._animation_confirm_bounceIn
{
    animation: bounceIn!important;
    animation-duration: 0.5s !important;
}
._animation_confirm_bounceOut
{
    animation: bounceOut!important;
    animation-duration: 0.5s !important;
}
._animation_fadeIn
{
    animation: fadeIn!important;
    animation-duration: 0.3s !important;
}
._animation_fadeOut
{
    animation: fadeOut!important;
    animation-duration: 0.3s !important;
}
._animation_fadeInRight_custom
{
    animation: _fadeInRight_!important;
    animation-delay: 0.4s;
    animation-duration: 0.3s !important;
}
._animation_pulse
{
    animation: _scale!important;
    animation-duration: 0.3s !important;

}
