<% include('../comm/html-header.html') %>
    <% include('../comm/header.html') %>
        <div class="index_page" id="index_page">
            <div id="certify">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="<%= require('../../images/index/certify01.png')%>" />
                            <p>非常难得又值钱的认证证书</p>
                        </div>
                        <div class="swiper-slide"><img src="<%= require('../../images/index/certify02.png')%>" />
                            <p>深圳市优秀互联网企业认定证书</p>
                        </div>
                        <div class="swiper-slide"><img src="<%= require('../../images/index/certify03.png')%>" />
                            <p>质量管理体系认证荣誉证书</p>
                        </div>
                        <div class="swiper-slide"><img src="<%= require('../../images/index/certify04.png')%>" />
                            <p>计算机软件著作权登记证书</p>
                        </div>
                        <div class="swiper-slide"><img src="<%= require('../../images/index/certify05.png')%>" />
                            <p>增值电信业务经营许可证</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="banner">
                <img src="<%= require('../../images/index/sw.png')%>" alt="">
            </div>
            <h1 class="animate__animated animate__bounce">An animated element</h1>

            <a href="/detail.html">To Tetail</a>

            <button @click="onClick">Tip</button>
        </div>
        <% include('../comm/html-footer.html') %>