@charset "UTF-8";
[v-cloak] {
  display: none;
}

._loading_ {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999999999999999;
  transition: opacity 0.4s linear;
}

._loading_ ._loading_style_ {
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

._loading_ ._loading_style_ .loading_icon {
  width: 3.125em;
  height: 3.125em;
  background: url("../../images/comment/loading.png") no-repeat center center;
  background-size: 100% 100%;
  animation: circleAnimal 2s infinite linear;
}

._loading_ ._loading_style_ ._style_text_ {
  margin-top: 0.3125em;
}

._scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

._scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background: rgba(83, 83, 83, 0.5);
}

._scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: rgba(237, 237, 237, 0);
  opacity: 0;
}

._scroll_x::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

._scroll_x::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background: rgba(83, 83, 83, 0.5);
}

._scroll_x::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: rgba(237, 237, 237, 0);
  opacity: 0;
}

._tip_box_ {
  position: fixed;
  width: 100%;
  height: 3.125em;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 9999999999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.625em 0.625em rgba(0, 101, 230, 0.1);
}

._tip_box_ ._tip_cion {
  text-align: center;
  font-size: 1em;
  color: #038BFF;
  background-size: 1.875em 1.875em;
  padding-left: 2.1875em;
  line-height: 2.5em;
}

._comfirm_box_ {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
}

._comfirm_box_ ._comfirm_box_tip {
  width: 21.875em;
  height: 12.5em;
  background-color: #fff;
  border-radius: 0.625em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.25em;
  position: relative;
}

._comfirm_box_ ._comfirm_box_tip ._comfirm_tip_text {
  font-size: 1.125em;
  color: #333;
  line-height: 3.125em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

._comfirm_box_ ._comfirm_box_tip ._comfirm_tip_content {
  font-size: 1em;
  width: 100%;
  height: 6.25em;
  overflow: hidden;
  padding-top: 1.875em;
  box-sizing: border-box;
  padding-bottom: 1.875em;
}

._comfirm_box_ ._comfirm_box_tip ._comfirm_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.25em;
  width: 90%;
  cursor: pointer;
}

._comfirm_box_ ._comfirm_box_tip ._comfirm_btn ._comfirm_cancel_ {
  width: 45%;
  line-height: 2.5em;
  text-align: center;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25em;
}

._comfirm_box_ ._comfirm_box_tip ._comfirm_btn ._comfirm_sure_ {
  width: 45%;
  line-height: 2.5em;
  text-align: center;
  font-size: 1em;
  border: 1px solid transparent;
  border-radius: 0.25em;
  background-color: #0371FF;
  color: #fff;
}

._input_number_box_ {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.4);
}

._input_number_box_ ._number_box_ {
  width: 16.5em;
  height: 10.875em;
  background-color: #fff;
  border-radius: 0.375em;
  flex-direction: column;
}

._input_number_box_ ._number_box_ .imgs_code {
  width: 7.5em;
  height: 3.1875em;
  margin-bottom: 0.625em;
  cursor: pointer;
}

._input_number_box_ ._number_box_ .input_num_box {
  width: 7.5em;
  border-bottom: 1px solid #747F8D;
}

._input_number_box_ ._number_box_ .input_num_box input {
  text-align: center;
  font-size: 1.125em;
  color: #333;
  width: 100%;
}

._input_number_box_ ._number_box_ .btns_box {
  margin-top: 1.25em;
}

._input_number_box_ ._number_box_ .btns_box .btn_item {
  width: 5.75em;
  line-height: 1.75em;
  text-align: center;
  font-size: 0.75em;
  color: #747F8D;
  border: 1px solid #747F8D;
  margin-right: 1.25em;
  cursor: pointer;
}

._input_number_box_ ._number_box_ .btns_box .btn_item:nth-of-type(2) {
  margin-right: 0;
  background-color: #0371FF;
  color: #fff;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none !important;
}

a:hover,
a:active {
  text-decoration: none !important;
}

.bs {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
